/*
configuração de pagina
*/

body {
    gap: 20px;
    margin: 0;
    height: 97vh;
    padding: 5px;
    display: grid;
    font-weight: bold;
    user-select: none;
    text-transform: uppercase;
    grid-template-rows: 5fr 1f;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "search result";
    background: url(https://1.bp.blogspot.com/-SyuOdo4L3WI/WGsvKnL5uxI/AAAAAAAATBs/I9THqw7eKRAn2wfiwMGJxkGh0JeAkY70ACLcB/s1600/Pokemon%2BWallpapers%2B16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.shadow_white_padrao {
    color: rgb(34, 34, 34);
    text-shadow: white 0.1em 0.1em 0.4em
}

.border_black {
    border: 5px solid black;
}


/*
configuração de GRID
*/

.search {
    grid-area: search;
    justify-content: flex-end;
}

.result {
    grid-area: result;
    justify-content: flex-start;
}


/* 
configuração dos containers 
*/

.search>div {
    gap: 10px;
    padding: 20px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    background-color: gray;
}

body>section,
.result>div {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
}


/* 
configuração da pokedex 
*/

.pokedex {
    text-align: start;
    border-radius: 35px;
    padding: 10px 40px 0px;
    background-color: red;
}

.visor {
    width: 230px;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
    border-radius: 10px 10px 10px 50px;
}

.btn_buscar {
    width: 100%;
    color: black;
    background-color: white;
}

.btn_buscar:hover {
    color: white;
    background-color: black;
}

#nomeDoPokemon {
    border: 3px solid black;
    border-radius: 7px;
}

.style_infoPoke {
    color: white;
    text-shadow: black 0.2em 0.1em 0.2em
}

.config_moves {
    width: 230px;
    height: 200px;
    overflow: auto;
    list-style: decimal;
    border-radius: 10px;
    text-transform: capitalize;
    background-color: rgb(128, 61, 61);
    border: 5px solid rgb(161, 17, 17);
}

.config_moves_border_side {
    border-radius: 9px;
    border: 2px solid rgb(0, 0, 0);
}

.config_moves::-webkit-scrollbar {
    width: 15px;
}

.config_moves::-webkit-scrollbar-track {
    background: #361414;
    border: 2px solid black;
}

.config_moves::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 184, 31);
}

.config_moves::-webkit-scrollbar-thumb {
    height: 50px;
    border-radius: 5px;
    background: rgb(104, 104, 104);
    border: 1.5px solid black;
}


/* 
configuração dos botões de enfeites da pokedex
*/

.botoes_enfeite {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao_mais>a {
    color: black;
    font-size: 110px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.botao_mais:hover {
    text-shadow: white 0.01em 0.01em 1em
}

.displey_verde {
    width: 90px;
    height: 40px;
    border-radius: 15px;
    background-color: green;
}

.botao_redondo {
    padding: 15px;
    border-radius: 100px;
    background-color: black;
}

.botao_redondo_blue {
    width: 20px;
    margin: 4px;
    height: 20px;
    padding: 9px;
    border-radius: 100px;
    background-color: blue;
    border: 3px solid white;
}